directory: {{getv "/beet/directory"}}
plugins: badfiles embedart fetchart lastgenre lyrics web
asciify_paths: yes
art_filename: folder
per_disc_numbering: yes
paths:
  default: ${genre} - ${albumartist} - ${year} - ${album}/d${disc}t${track} - ${artist} - ${title}
  comp: Compilation - ${year} - ${album}/d${disc}t${track}. ${artist} - ${title}
web:
  host: 0.0.0.0
  port: 80
  reverse_proxy: true
import:
  write: yes
  copy: yes
  resume: yes
  incremental: yes
  incremental_skip_later: no
  timid: yes
  log: {{getv "/beet/import/log"}}
lastgenre:
  auto: yes
  canonical: yes
  source: artist
embedart:
  remove_art_file: yes
